# https://nochoco-lee.tistory.com/46 참고.
Temp/
Logs/
.vs/DesignPattern/v16/.suo
Library/
obj/
#
#DesignPatternComplete/
DesignPatternComplete/**/.vs/
DesignPatternComplete/**/.vscode/
#DesignPatternComplete/**/Assets/
DesignPatternComplete/**/Assets/01.Scenes/
#DesignPatternComplete/**/Assets/02.Scripts/
DesignPatternComplete/**/Assets/02.Scripts/*.meta
DesignPatternComplete/**/Assets/03.Materials/
DesignPatternComplete/**/Assets/04.Prefabs/
DesignPatternComplete/**/Assets/05.Controllers/
DesignPatternComplete/**/Assets/06.Res/
DesignPatternComplete/**/Assets/*.meta
#
DesignPatternComplete/**/Library/
DesignPatternComplete/**/Logs/
DesignPatternComplete/**/Packages/
DesignPatternComplete/**/ProjectSettings/
DesignPatternComplete/**/Temp/
DesignPatternComplete/**/obj/
DesignPatternComplete/**/*.sln
DesignPatternComplete/**/*.csproj
DesignPatternComplete/**/.DS_Store
#
#DesignPatternPractice
DesignPatternPractice/**/.vs/
DesignPatternPractice/**/.vscode/
#DesignPatternPractice/**/Assets/
DesignPatternPractice/**/Assets/01.Scenes/
#DesignPatternPractice/**/Assets/02.Scripts/
DesignPatternPractice/**/Assets/02.Scripts/*.meta
DesignPatternPractice/**/Assets/03.Materials/
DesignPatternPractice/**/Assets/04.Prefabs/
DesignPatternPractice/**/Assets/05.Controllers/
DesignPatternPractice/**/Assets/06.Res/
DesignPatternPractice/**/Assets/*.meta
#
DesignPatternPractice/**/Library/
DesignPatternPractice/**/Logs/
DesignPatternPractice/**/Packages/
DesignPatternPractice/**/ProjectSettings/
DesignPatternPractice/**/Temp/
DesignPatternPractice/**/obj/
DesignPatternPractice/**/*.sln
DesignPatternPractice/**/*.csproj
DesignPatternPractice/**/.DS_Store
#
